.section-3 {
    width: 99vw;
    min-height: 100vh;
    // background-color: lightcoral;
    .content {
        width: 100%;
        height: 40vh;
        // background-color: olive;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 1vw;
        margin-bottom: 5px;
        .content-1 {
            width: 30%;
            height: 88%;
            background-color: #1a1b1e;
            color: #a4a1fe;

            position: absolute;
            top: 6%;
            // bottom: 10%;
            // border-radius: 50px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            padding: 2vw;
            display: flex;
            // transform: translate(50%);
            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h3 {
                    font-weight: 500;
                    font-size: 1.5vw;
                    // font-style: italic;
                }
                p {
                }
            }
            .icon {
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;

                i {
                    font-size: 2vw;
                    background-color: #a4a1fe;
                }
                img {
                    width: 2vw;
                }
            }
        }
        .content-2 {
            width: 50%;
            height: 100%;
            background-color: #a4a1fe;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-weight: 900;
                font-style: italic;
                font-size: 3vw;
            }
            // transform: translate(-50%);
        }
    }
}
